@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------------------------------
 * The styles rules for components use CSS nesting native feature. Any cases if browser do not 
   support CSS nesting postcss-nested plugin is active.
 * ----------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------
 * Accordion size rules (dividing by 3 logic)
 * ----------------------------------------------------------------------------------------------- */
@for $size from 2 through 4 by 1 {
  .accordion-root$(size) {
    @apply w-[calc(100px*$size)] rounded-[calc(1px*$size*2)];

    & div {
      @apply first:rounded-t-[calc(1px*$size*1.5)] last:rounded-b-[calc(1px*$size*1.5)];
    } 
  }

  .accordion-trigger$(size) {
    @apply h-[calc(15px*$size)] text-[calc(5px*$size)];
  }

  .accordion-content$(size) {
    @apply text-[calc(5px*$size)];

    .accordion-collapsibleText$(size) {
      @apply py-[calc(5px*$size)];
    }
  }

  /* -------------------------------------------------------------------------------------------------
 * AlertDialog size rules (dividing by 3 logic)
 * ----------------------------------------------------------------------------------------------- */
  .alertdialog-trigger$(size) {
    @apply h-[calc(12px*$size)] px-[calc(5px*$size)] text-[calc(5px*$size)] rounded-[calc(1px*$size*1.5)];
  }

  .alertdialog-content$(size) {
    @apply max-w-[calc(165px*$size)] p-[calc(8px*$size)] max-h-[calc(28vh*$size)] w-[calc(30vw*$size)] rounded-[calc(1px*$size*2)];

    .alertdialog-title$(size) {
      @apply text-[calc(6px*$size)];
    }

    .alertdialog-description$(size) {
      @apply text-[calc(5px*$size)];
    }

    .alertdialog-actions$(size) {
      @apply gap-[calc(8px*$size)];

      .alertdialog-cancel$(size) {
        @apply h-[calc(12px*$size)] text-[calc(5px*$size)] px-[calc(5px*$size)] rounded-[calc(1px*$size*1.5)];
      }
      .alertdialog-action$(size) {
        @apply h-[calc(12px*$size)] text-[calc(5px*$size)] px-[calc(5px*$size)] rounded-[calc(1px*$size*1.5)];
      }
    }
  }

  /* -------------------------------------------------------------------------------------------------
 * Popover size rules (dividing by 3 logic)
 * ----------------------------------------------------------------------------------------------- */
  .popover-trigger$(size) {
    @apply h-[calc(12px*$size)] w-[calc(12px*$size)] px-[calc(2px*$size)];

    svg {
      width: calc(5px*$size);
      height : calc(5px*$size);
    }
  }

  .popover-content$(size) {
    @apply w-[calc(86px*$size)] text-[calc(5px*$size)] rounded-[calc(1px*$size*2)] p-[calc(0.42rem*$size)] ;

    .popover-content-container$(size) {

      @apply gap-$size;

      .popover-content-paragraph$(size) {
        @apply leading-[calc(6px*$size)] mb-$size;
      }

      fieldset {
        @apply gap-[calc(0.25rem*$size)];

        label {
          @apply text-[calc(4px*$size)]  w-[calc(25px*$size)];
        }
  
        input {
          @apply text-[calc(4px*$size)] px-$size h-[calc(8px*$size)] rounded-[calc(1px*$size*1.5)];
        }
      }

    }

    .popover-close$(size) {
      @apply h-[calc(8px*$size)] w-[calc(8px*$size)] top-[calc(2px*$size)] right-[calc(2px*$size)];

      svg {
        width: calc(5px*$size);
        height : calc(5px*$size);
      }
    }

  }

  /* -------------------------------------------------------------------------------------------------
 * Select size rules (dividing by 3 logic)
 * ----------------------------------------------------------------------------------------------- */
  @for $size from 2 through 4 by 1 {
    .select-trigger$(size) {
      @apply px-[calc(5px*$size)] text-[calc(4px*$size)] h-[calc(12px*$size)] gap-$size rounded-[calc(1px*$size*2)];

    }

    .select-content$(size) {
      @apply rounded-[calc(1px*$size*2)];
    }

    .select-scroll-up-button$(size) {
      @apply h-[calc(8px*$size)];
    }

    .select-scroll-down-button$(size) {
      @apply h-[calc(8px*$size)];
    }

    .select-viewport$(size) {
      @apply p-[calc(1.5px*$size)];
    }

    .select-label$(size) {
      @apply px-[calc(8px*$size)] leading-[calc(8px*$size)] text-[calc(4px*$size)];
    }

    .select-separator$(size) {
      @apply h-[calc(1px*$size)] m-[calc(2px*$size)];
    }

    .select-item$(size) {
      @apply text-[calc(4px*$size)] rounded-[calc(1px*$size*2)] h-[calc(8px*$size)] pr-[calc(12px*$size)] pl-[calc(8px*$size)];
    }

    .select-item-indicator$(size) {
      @apply w-[calc(8px*$size)];
    }

  }

  /* -------------------------------------------------------------------------------------------------
 * Navigation size rules (dividing by 3 logic)
 * ----------------------------------------------------------------------------------------------- */
  .navigation-menu-list$(size) {
    @apply rounded-[calc(1px*$size*2)] p-[calc(0.125rem*$size)];

    .navigation-menu-trigger$(size) {
      @apply gap-[calc(0.75px*$size)] rounded-[calc(1px*$size*1.5)] px-[calc(0.25rem*$size)] py-[calc(0.2rem*$size)] text-[calc(5px*$size)];

      svg {
        @apply top-[calc(0.025rem*$size)];
      }
    }

    
  }

  .navigation-menu-simple-link$(size) {
    @apply rounded-[calc(1px*$size*1.5)] px-[calc(0.25rem*$size)] py-[calc(0.2rem*$size)] text-[calc(5px*$size)];
  }
  
  .navigation-menu-link$(size).card-nav {
    @apply rounded-[calc(1px*$size*2)] p-[calc(8px*$size)];

  }

  .navigation-menu-link$(size).text-nav {
    @apply rounded-[calc(1px*$size*2)] p-$size ;
  }

  .navigation-menu-link$(size) {
    @apply text-[calc(5px*$size)];

    & div {
      @apply mb-[calc(1.5px*$size)];
    }
  }

  .navigation-menu-content$(size) {
    ul {
      @apply gap-x-[calc(0.35px*$size)] p-[calc(7px*$size)] sm:w-[calc(165px*$size)];
    }
  }

  .navigation-menu-indicator$(size) {
    @apply h-[calc(3px*$size)];

    & div {
      @apply top-[70%] h-[calc(3px*$size)] w-[calc(3px*$size)] rotate-[45deg] rounded-tl-[calc(0.7px*$size)]
      }
  }

  .navigation-menu-viewport$(size) {
    @apply mt-[calc(3px*$size)] rounded-[calc(1px*$size*2)]
  }
}